<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


<listeners>
		<listener class-name="com.qa.base.Listener" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.testCases.TC_LogINTest_003"/>
      <class name="com.qa.testCases.TC_RegisterPage_002"/>
      <class name="com.qa.testCases.TC_ValidateMainElements_005"/>
      <class name="com.qa.testCases.TC_LinksVerification_004"/>
      <class name="com.qa.testCases.TC_linkTest_001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
